@using DevExpress.Blazor
@using Microsoft.AspNetCore.Components

<style>
    .dropdown-template-color-palette {
        border-width: 0px;
    }
</style>

<DxDropDownBox @bind-Value="_internalValue"
               QueryDisplayText="@QueryText"
               NullText="Select color..."
               CssClass="cw-240">
    <DropDownBodyTemplate>
        <DxColorPalette Value="@GetColorDropDownValue(context.DropDownBox)"
                        ValueChanged="@((string v) => ColorDropDownValueChanged(v, context.DropDownBox))"
                        CssClass="dropdown-template-color-palette" />
    </DropDownBodyTemplate>
    <EditBoxDisplayTemplate>
        <div class="template-container">
            <span class="dxbl-image dropdown-icon-color"
                  style="
                  display:inline-block;
                  width:18px;
                  height:18px;
                  border-radius:3px;
                  border:1px solid #ccc;
                  background-color:@((_internalValue as string) ?? Value ?? "#66CDFF");
                  margin-right:4px;
                  vertical-align:middle;">
            </span>
            <DxInputBox />
        </div>
    </EditBoxDisplayTemplate>
</DxDropDownBox>

@code {
    [Parameter] public string? Value { get; set; }
    [Parameter] public EventCallback<string?> ValueChanged { get; set; }

    private object? _internalValue
    {
        get => Value;
        set
        {
            var s = value as string;
            if (Value != s)
            {
                Value = s;
                ValueChanged.InvokeAsync(s);
            }
        }
    }

    string GetColorDropDownValue(IDropDownBox dropDownBox)
    {
        return dropDownBox.Value as string ?? Value ?? "#66CDFF";
    }

    async void ColorDropDownValueChanged(string value, IDropDownBox dropDownBox)
    {
        dropDownBox.BeginUpdate();
        dropDownBox.Value = value;
        dropDownBox.DropDownVisible = false;
        dropDownBox.EndUpdate();

        _internalValue = value;
        await ValueChanged.InvokeAsync(value);
    }

    string QueryText(DropDownBoxQueryDisplayTextContext arg)
    {
        return arg.Value as string ?? string.Empty;
    }
}
