@using DevExpress.ExpressApp
@using DevExpress.ExpressApp.Blazor.Editors
@using SimpleProjectManager.Module.BusinessObjects
@using System.Drawing

@implements IDisposable

<div class="assigned-to-chips">
    @if (ViewItem?.CurrentObject is Message message)
    {
        if (message.AssignedTo != null && message.AssignedTo.Count > 0)
        {
            foreach (var emp in message.AssignedTo)
            {
                var c = emp.Color ?? Color.Gray;
                var cssColor = $"#{c.R:X2}{c.G:X2}{c.B:X2}";

                <span class="employee-color-chip" style="background-color:@cssColor">
                    @emp.FullName
                </span>
            }
        }
    }
</div>

@code {
    [CascadingParameter] public BlazorControlViewItem? ViewItem { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        if (ViewItem is not null)
        {
            ViewItem.CurrentObjectChanged += ViewItem_CurrentObjectChanged;
            ViewItem.ObjectSpace.ObjectChanged += ObjectSpace_ObjectChanged;
        }
    }

    private void ViewItem_CurrentObjectChanged(object? sender, EventArgs e)
        => InvokeAsync(StateHasChanged);

    private void ObjectSpace_ObjectChanged(object? sender, ObjectChangedEventArgs e)
    {
        if (ViewItem?.CurrentObject is not Message message)
            return;

        if (ReferenceEquals(e.Object, message))
        {
            InvokeAsync(StateHasChanged);
            return;
        }

        if (e.Object is Employee emp &&
            message.AssignedTo != null &&
            message.AssignedTo.Contains(emp))
        {
            InvokeAsync(StateHasChanged);
            return;
        }

    }

    public void Dispose()
    {
        if (ViewItem is not null)
        {
            ViewItem.CurrentObjectChanged -= ViewItem_CurrentObjectChanged;
            if (ViewItem.ObjectSpace is not null)
                ViewItem.ObjectSpace.ObjectChanged -= ObjectSpace_ObjectChanged;
        }
    }
}
